body{
    background-image: url('../images/wallpaper1.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

h1{
    margin-left: 20px;
}

table{
    width: 45vw;
}

th{
    text-align: left;
}

#my-chart.line {
    height: 200px;
    max-width: 1000px;
    margin: 10px;
    margin-top: 230px;
}