<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"><meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/charts.min.css') }}">
    <title>Solar-Monitor</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
    d3
    .csv('/data/latest.csv')
    .then(makeChart);

    function makeChart(data) {
        var country = data.map(function(d) {return d.province;});
        var value = data.map(function(d) {return d.cumulative_cases;});
    }

    // Bar chart
    new Chart(document.getElementById("myCanvas"), {
          type: 'bar',
          data: {
            labels: country,
            datasets: [
              {
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: value
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Total Confirmed Cases of COVID in May'
            }
          }
      });
</script>

<body>
    <h1>Solar-Monitor 400Wp</h1>
    <div style="width: 30vw; padding-left: 20px;">
      <table>
        <tr>
          <th>Analytics</th>
          <th></th>
        </tr>
        <tr>
          <td>Current Voltage:</td>
          <td>{{curr_vol}} V</td>
        </tr>
        <tr>
          <td>Current Amperage:</td>
          <td>{{curr_amp}} A</td>
        </tr>
        <tr>
          <td>Current Wattage:</td>
          <td>{{curr_wat}} W</td>
        </tr>
        <tr>
          <td>Effective Power:</td>
          <td>{{curr_effwat}} W</td>
        </tr>
      </table>
  
      <table>
        <tr>
          <th>Statistics</th>
        </tr>
        <tr>
          <td>Today's peak Wattage:</td>
          <td>{{pk_wat}} W</td>
        </tr>
        <tr>
          <td>Harvested today:</td>
          <td>{{tod_wat}} kWh</td>
        </tr>
        <tr>
          <td>Harvested all-time:</td>
          <td>{{total_wat}} kWh</td>
        </tr>
        <tr>
          <td>Price/kWh:</td>
          <td>{{price_wat}} €</td>
        </tr>
      </table>
    </div>
    <table class="charts-css line show-heading show-labels show-data-axes show-4-secondary-axes show-primary-axis" id="my-chart">
      <caption>Generation thoughout the day</caption>

      <tbody>
        <tr>
          <th scope="row">23h</th>
          <td style="--start: 0.0; --size: {{1 / lit_wat} * w23}"> <span class="data"> {{w23}} W </span> </td>
        </tr>
        <tr>
          <th scope="row">22h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w22}"> <span class="data"> {{1 / lit_wat} * w22} W </span> </td>
        </tr>
        <tr>
          <th scope="row">21h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w21}"> <span class="data"> {{1 / lit_wat} * w21} W </span> </td>
        </tr>
        <tr>
          <th scope="row">20h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w20}"> <span class="data"> {{1 / lit_wat} * w20} W </span> </td>
        </tr>
        <tr>
          <th scope="row">19h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w19}"> <span class="data"> {{1 / lit_wat} * w19} W </span> </td>
        </tr>
        <tr>
          <th scope="row">18h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w18}"> <span class="data"> {{1 / lit_wat} * w18} W </span> </td>
        </tr>
        <tr>
          <th scope="row">17h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w17}"> <span class="data"> {{1 / lit_wat} * w17} W </span> </td>
        </tr>
        <tr>
          <th scope="row">16h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w16}"> <span class="data"> {{1 / lit_wat} * w16} W </span> </td>
        </tr>
        <tr>
          <th scope="row">15h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w15}"> <span class="data"> {{1 / lit_wat} * w15} W </span> </td>
        </tr>
        <tr>
          <th scope="row">14h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w14}"> <span class="data"> {{1 / lit_wat} * w14} W </span> </td>
        </tr>
        <tr>
          <th scope="row">13h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w13}"> <span class="data"> {{1 / lit_wat} * w13} W </span> </td>
        </tr>
        <tr>
          <th scope="row">12h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w12}"> <span class="data"> {{1 / lit_wat} * w12} W </span> </td>
        </tr>
        <tr>
          <th scope="row">11h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w11}"> <span class="data"> {{1 / lit_wat} * w11} W </span> </td>
        </tr>
        <tr>
          <th scope="row">10h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w10}"> <span class="data"> {{1 / lit_wat} * w10} W </span> </td>
        </tr>
        <tr>
          <th scope="row">9h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w9}"> <span class="data"> {{1 / lit_wat} * w9} W </span> </td>
        </tr>
        <tr>
          <th scope="row">8h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w8}"> <span class="data"> {{1 / lit_wat} * w8} W </span> </td>
        </tr>
        <tr>
          <th scope="row">7h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w7}"> <span class="data"> {{1 / lit_wat} * w7} W </span> </td>
        </tr>
        <tr>
          <th scope="row">6h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w6}"> <span class="data"> {{1 / lit_wat} * w6} W </span> </td>
        </tr>
        <tr>
          <th scope="row">5h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w5}"> <span class="data"> {{1 / lit_wat} * w5} W </span> </td>
        </tr>
        <tr>
          <th scope="row">4h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w4}"> <span class="data"> {{1 / lit_wat} * w4} W </span> </td>
        </tr>
        <tr>
          <th scope="row">3h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w3}"> <span class="data"> {{1 / lit_wat} * w3} W </span> </td>
        </tr>
        <tr>
          <th scope="row">2h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w2}"> <span class="data"> {{1 / lit_wat} * w2} W </span> </td>
        </tr>
        <tr>
          <th scope="row">1h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w1}"> <span class="data"> {{1 / lit_wat} * w1} W </span> </td>
        </tr>
        <tr>
          <th scope="row">0h</th>
          <td style="--start: {{1 / lit_wat} * w23}; --size: {{1 / lit_wat} * w0}"> <span class="data"> {{1 / lit_wat} * w0} W </span> </td>
        </tr>
      </tbody>
    
    </table>
  </body>
</html>