<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"><meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/charts.min.css') }}">
    <title>Solar-Monitor</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
    d3
    .csv('/data/latest.csv')
    .then(makeChart);

    function makeChart(data) {
        var country = data.map(function(d) {return d.province;});
        var value = data.map(function(d) {return d.cumulative_cases;});
    }

    // Bar chart
    new Chart(document.getElementById("myCanvas"), {
          type: 'bar',
          data: {
            labels: country,
            datasets: [
              {
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: value
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Total Confirmed Cases of COVID in May'
            }
          }
      });
</script>

<body>
    <h1>Solar-Monitor 400Wp</h1>
    <div style="width: 30vw; padding-left: 20px;">
      <table>
        <tr>
          <th>Analytics</th>
          <th></th>
        </tr>
        <tr>
          <td>Current Voltage:</td>
          <td>{{curr_vol}} V</td>
        </tr>
        <tr>
          <td>Current Amperage:</td>
          <td>{{curr_amp}} A</td>
        </tr>
        <tr>
          <td>Current Wattage:</td>
          <td>{{curr_wat}} W</td>
        </tr>
        <tr>
          <td>Effective Power:</td>
          <td>{{curr_effwat}} W</td>
        </tr>
      </table>
  
      <table>
        <tr>
          <th>Statistics</th>
        </tr>
        <tr>
          <td>Today's peak Wattage:</td>
          <td>{{pk_wat}} W</td>
        </tr>
        <tr>
          <td>Harvested today:</td>
          <td>{{tod_wat}} kWh</td>
        </tr>
        <tr>
          <td>Harvested all-time:</td>
          <td>{{total_wat}} kWh</td>
        </tr>
        <tr>
          <td>Price/kWh:</td>
          <td>{{price_wat}} €</td>
        </tr>
      </table>
    </div>
    <span></span>
    <table class="charts-css line show-heading show-labels show-data-axes show-4-secondary-axes show-primary-axis" id="my-chart">
      <caption>Generation thoughout the day</caption>

      <tbody>
        <tr>
          <th scope="row">16h</th>
          <td style="--start: 0.0; --size: 0.4"> <span class="data"> $ 40K </span> </td>
        </tr>
        <tr>
          <th scope="row">15h</th>
          <td style="--start: 0.4; --size: 0.2"> <span class="data"> $ 20K </span> </td>
        </tr>
        <tr>
          <th scope="row">14h</th>
          <td style="--start: 0.2; --size: 0.6"> <span class="data"> $ 60K </span> </td>
        </tr>
        <tr>
          <th scope="row">13h</th>
          <td style="--start: 0.6; --size: 0.4"> <span class="data"> $ 40K </span> </td>
        </tr>
        <tr>
          <th scope="row">12h</th>
          <td style="--start: 0.4; --size: 0.8"> <span class="data"> $ 80K </span> </td>
        </tr>
        <tr>
          <th scope="row">11h</th>
          <td style="--start: 0.8; --size: 0.6"> <span class="data"> $ 60K </span> </td>
        </tr>
        <tr>
          <th scope="row">10h</th>
          <td style="--start: 0.6; --size: 1.0"> <span class="data"> $ 100K </span> </td>
        </tr>
      </tbody>
    
    </table>
  </body>
</html>