<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"><meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/charts.min.css') }}">
    <title>Solar-Monitor</title>
</head>

<body>
    <h1>Solar-Monitor 400Wp</h1>
    <div style="width: 30vw; padding-left: 20px;">
      <table>
        <tr>
          <th>Analytics</th>
          <th></th>
        </tr>
        <tr>
          <td>Current Voltage:</td>
          <td>{{"%.3f" % curr_vol}} V</td>
        </tr>
        <tr>
          <td>Current Amperage:</td>
          <td>{{"%.3f" % curr_amp}} A</td>
        </tr>
        <tr>
          <td>Current Wattage:</td>
          <td>{{"%.2f" %curr_wat}} W</td>
        </tr>
        <tr>
          <td>Effective Power:</td>
          <td>{{"%.2f" % curr_effwat}} W</td>
        </tr>
      </table>
  
      <table>
        <tr>
          <th>Statistics</th>
        </tr>
        <tr>
          <td>Today's peak Wattage:</td>
          <td>{{"%.1f" % pk_wat}} W</td>
        </tr>
        <tr>
          <td>Harvested today:</td>
          <td>{{"%.5f" % tod_wat}} kWh</td>
        </tr>
        <tr>
          <td>Harvested all-time:</td>
          <td>{{"%.1f" % total_wat}} kWh</td>
        </tr>
        <tr>
          <td>Price/kWh:</td>
          <td>{{price_wat}} €</td>
        </tr>
      </table>
    </div>
    <table class="charts-css line show-heading show-labels show-data-axes show-4-secondary-axes show-primary-axis" id="my-chart">
      <caption>Generation throughout the day in Watts</caption>

      <tbody>
        <tr>
          <th scope="row">23h</th>                                                                                                       
          <td style="--start: {{(1 / lit_wat) * chart_dic[0]}}; --size: {{(1 / lit_wat) * chart_dic[0]}}"> <span class="data"> {{"%.1f" % chart_dic[0]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">22h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[0]}}; --size: {{(1 / lit_wat) * chart_dic[1]}}"> <span class="data"> {{"%.1f" % chart_dic[1]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">21h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[1]}}; --size: {{(1 / lit_wat) * chart_dic[2]}}"> <span class="data"> {{"%.1f" % chart_dic[2]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">20h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[2]}}; --size: {{(1 / lit_wat) * chart_dic[3]}}"> <span class="data"> {{"%.1f" % chart_dic[3]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">19h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[3]}}; --size: {{(1 / lit_wat) * chart_dic[4]}}"> <span class="data"> {{"%.1f" % chart_dic[4]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">18h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[4]}}; --size: {{(1 / lit_wat) * chart_dic[5]}}"> <span class="data"> {{"%.1f" % chart_dic[5]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">17h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[5]}}; --size: {{(1 / lit_wat) * chart_dic[6]}}"> <span class="data"> {{"%.1f" % chart_dic[6]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">16h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[6]}}; --size: {{(1 / lit_wat) * chart_dic[7]}}"> <span class="data"> {{"%.1f" % chart_dic[7]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">15h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[7]}}; --size: {{(1 / lit_wat) * chart_dic[8]}}"> <span class="data"> {{"%.1f" % chart_dic[8]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">14h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[8]}}; --size: {{(1 / lit_wat) * chart_dic[9]}}"> <span class="data"> {{"%.1f" % chart_dic[9]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">13h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[9]}}; --size: {{(1 / lit_wat) * chart_dic[10]}}"> <span class="data"> {{"%.1f" % chart_dic[10]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">12h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[10]}}; --size: {{(1 / lit_wat) * chart_dic[11]}}"> <span class="data"> {{"%.1f" % chart_dic[11]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">11h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[11]}}; --size: {{(1 / lit_wat) * chart_dic[12]}}"> <span class="data"> {{"%.1f" % chart_dic[12]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">10h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[12]}}; --size: {{(1 / lit_wat) * chart_dic[13]}}"> <span class="data"> {{"%.1f" % chart_dic[13]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">9h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[13]}}; --size: {{(1 / lit_wat) * chart_dic[14]}}"> <span class="data"> {{"%.1f" % chart_dic[14]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">8h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[14]}}; --size: {{(1 / lit_wat) * chart_dic[15]}}"> <span class="data"> {{"%.1f" % chart_dic[15]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">7h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[15]}}; --size: {{(1 / lit_wat) * chart_dic[16]}}"> <span class="data"> {{"%.1f" % chart_dic[16]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">6h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[16]}}; --size: {{(1 / lit_wat) * chart_dic[17]}}"> <span class="data"> {{"%.1f" % chart_dic[17]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">5h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[17]}}; --size: {{(1 / lit_wat) * chart_dic[18]}}"> <span class="data"> {{"%.1f" % chart_dic[18]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">4h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[18]}}; --size: {{(1 / lit_wat) * chart_dic[19]}}"> <span class="data"> {{"%.1f" % chart_dic[19]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">3h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[19]}}; --size: {{(1 / lit_wat) * chart_dic[20]}}"> <span class="data"> {{"%.1f" % chart_dic[20]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">2h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[20]}}; --size: {{(1 / lit_wat) * chart_dic[21]}}"> <span class="data"> {{"%.1f" % chart_dic[21]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">1h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[21]}}; --size: {{(1 / lit_wat) * chart_dic[22]}}"> <span class="data"> {{"%.1f" % chart_dic[22]}}</span> </td>
        </tr>
        <tr>
          <th scope="row">0h</th>
          <td style="--start: {{(1 / lit_wat) * chart_dic[22]}}; --size: {{(1 / lit_wat) * chart_dic[23]}}"> <span class="data"> {{"%.1f" % chart_dic[23]}}</span> </td>
        </tr>

      </tbody>
    
    </table>
  </body>
</html>